<div class="square-container">

    <div class="square">
      <div class="content">
          medibox
      </div>
    </div>
  
        <div class="square" routerLink="/employees">
            <div class="content spread">              
                <div class="card-link-container"  >medical box</div>
            </div>
          </div>

          <input class="butt" type="button" routerLink="/employees" value="Medi box"/>
          <input class="butt" type="button" routerLink="/employees" value="pick & drop box"/>
          <input class="butt" type="button" routerLink="/employees" value="market box"/>
          <input class="butt" type="button" routerLink="/employees" value="other box"/>
    </div>
      
    